@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background: black;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: sticky;
    z-index: 1;
}

nav .logo{
    flex-basis: 20%;
}

nav .logo img{
    width: 150px;
    transition: 0.7s ease;
}

nav .logo img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    transition: 0.7s ease;
}

nav ul li a:hover{
    color: rgb(255, 81, 0);
    transform: scale(1.1);
}

.class-1{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
}

#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s ease;
}

.feature img{
    width: 70px;
}

.feature{
    position: absolute;
    display: flex;
    color: white;
}

.feature div{
    margin-left: 15px;
}

.feature div p{
    margin-top: 8px;
}

.one{
    top: 460px;
    right: 50px;
}

.two{
    top: 290px;
    left: 400px;
    transform: rotate(-90deg);
}

.three{
    bottom: 460px;
    left: 150px;
    transform: rotate(-180deg);
}

.four{
    bottom: 230px;
    right: 330px;
    transform: rotate(-270deg);
}

.mobile{
    width: 606px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 1;
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.controls h5{
    margin: 15px 0;
    color: white;
}

#upbtn{
    width: 15px;
    cursor: pointer;
}

#downbtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}

.overlay{
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    position: absolute;
    border-top: 500px solid white;
    border-right: 500px solid transparent;
    border-left: 500px solid white;
    border-bottom: 500px solid white;
}